<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>824836066323-5n32cvcf641sfnuo9hg1mv1p2b2ml7kj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.824836066323-5n32cvcf641sfnuo9hg1mv1p2b2ml7kj</string>
	<key>API_KEY</key>
	<string>AIzaSyBsT5N8z09goCZ4BWXodJc2Etb_Kuq6Wrw</string>
	<key>GCM_SENDER_ID</key>
	<string>824836066323</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.Table-for-You</string>
	<key>PROJECT_ID</key>
	<string>restaurantreservation-2dde3</string>
	<key>STORAGE_BUCKET</key>
	<string>restaurantreservation-2dde3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:824836066323:ios:14e1ec10e0b412377b83e6</string>
</dict>
</plist>